In [8]:
import pandas as pd

In [9]:
df1 = pd.read_csv("sets.csv")
df1.columns

Index(['set_num', 'name', 'year', 'theme_id', 'num_parts', 'img_url'], dtype='object')

In [10]:
df1

,set_num,name,year,theme_id,num_parts,img_url
0,001-1,Gears,1965,1,43,https://cdn.rebrickable.com/media/sets/001-1.jpg
1,0011-2,Town Mini-Figures,1979,67,12,https://cdn.rebrickable.com/media/sets/0011-2.jpg
2,0011-3,Castle 2 for 1 Bonus Offer,1987,199,0,https://cdn.rebrickable.com/media/sets/0011-3.jpg
3,0012-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0012-1.jpg
4,0013-1,Space Mini-Figures,1979,143,12,https://cdn.rebrickable.com/media/sets/0013-1.jpg
...,...,...,...,...,...,...
21875,XWING-1,Mini X-Wing Fighter,2019,158,60,https://cdn.rebrickable.com/media/sets/xwing-1...
21876,XWING-2,X-Wing Trench Run,2019,158,52,https://cdn.rebrickable.com/media/sets/xwing-2...
21877,YODACHRON-1,Yoda Chronicles Promotional Set,2013,158,413,https://cdn.rebrickable.com/media/sets/yodachr...
21878,YTERRIER-1,Yorkshire Terrier,2018,598,0,https://cdn.rebrickable.com/media/sets/yterrie...
21879,ZX8000-1,ZX 8000 LEGO Sneaker,2020,501,0,https://cdn.rebrickable.com/media/sets/zx8000-...

In [11]:
# Calculating Cardinality
cardinality = df1.nunique()
print("\nCardinality of each column:")
print(cardinality)

Cardinality of each column:
set_num      21880
name         18752
year            74
theme_id       460
num_parts     1443
img_url      21880
dtype: int64

In [12]:
import numpy as np
# Calculating Range for numeric columns
range_values = df1.select_dtypes(include=[np.number]).apply(lambda x: x.max() - x.min())
print("\nRange of numeric columns:")
print(range_values)

Range of numeric columns:
year            75
theme_id       751
num_parts    11695
dtype: int64

In [13]:
# Finding Min and Max for numeric columns
min_values = df1.select_dtypes(include=[np.number]).min()
max_values = df1.select_dtypes(include=[np.number]).max()

print("\nMinimum values of numeric columns:")
print(min_values)

print("\nMaximum values of numeric columns:")
print(max_values)

Minimum values of numeric columns:
year         1949
theme_id        1
num_parts       0
dtype: int64

Maximum values of numeric columns:
year          2024
theme_id       752
num_parts    11695
dtype: int64

In [14]:
df1.drop(columns=['theme_id','img_url'], inplace=True)
df1

           set_num                             name  year  num_parts
0            001-1                            Gears  1965         43
1           0011-2                Town Mini-Figures  1979         12
2           0011-3       Castle 2 for 1 Bonus Offer  1987          0
3           0012-1               Space Mini-Figures  1979         12
4           0013-1               Space Mini-Figures  1979         12
...            ...                              ...   ...        ...
21875      XWING-1              Mini X-Wing Fighter  2019         60
21876      XWING-2                X-Wing Trench Run  2019         52
21877  YODACHRON-1  Yoda Chronicles Promotional Set  2013        413
21878   YTERRIER-1                Yorkshire Terrier  2018          0
21879     ZX8000-1             ZX 8000 LEGO Sneaker  2020          0

[21880 rows x 4 columns]

In [15]:
df1.to_csv("sets.csv")

In [16]:
df2 = pd.read_csv("hexagon_data.csv")
df2.columns

Index(['Unnamed: 0', 'set_num', 'set_year', 'top_5_similar_sets', 'set_name',
       'set_img_url', 'theme_id', 'theme_name', 'num_parts', 'A0A5A9',
       'FFFFFF', 'C91A09', '6C6E68', '237841', '05131D', '184632', 'AA7F2E',
       'F5CD2F', '582A12', 'F2CD37', 'E4ADC8', 'AEEFEC', '635F52', 'F08F1C',
       'FCFCFC', '0020A0', '84B68D', 'BBE90B', 'D9E4A7', '0055BF', '9CA3A8',
       'F8F184', 'DF6695', 'E4CD9E', '0A3463', '720E0F', 'FF800D', '958A73',
       '898788', '352100', '3F3691', 'A5A5CB', 'DBAC34', '3E3C39', 'A95500',
       '923978', '4B9F4A', 'A5A9B4', 'ADC3C0', 'C870A0', 'AA7D55', '9BA19D',
       '6D6E5C', 'F8BB3D', '9B9A5A', '36AEBF', 'AC78BA', '9FC3E9', 'E1D5ED',
       '078BC9', 'FE8A18', 'FFF03A', 'DFEEA5', '008F9B', '5A93DB', 'A0BCAC',
       'FF698F', 'D9D9D9', 'CFE2F7', 'D09168', 'E0E0E0', 'BBA53D', 'AA4D8E',
       '1B2A34', 'F2F3F2', '583927', '764D3B', '6074A1', 'B46A00', '575857',
       'C0F500', '68BCC5', 'F6D7B3', 'BDC6AD', 'D67572', '81007B', 'FA9C1C',
       'FFA70B', 'AE7A59', '7DBFDD', 'EBD800', 'CE1D9B', '8320B7', 'CCA373',
       '755945'],
      dtype='object')